body {
	font-family: "Sans-Serif", Arial;
}
div.header {
	padding: 0em 1em;
	height: 100px;
	margin-bottom: 25px;
}
div.header > img {
	float: left;
}
div.header h1 {
	margin-left: 120px;
	margin-bottom: 0px;
	padding-top: 3px;
}
div.header h2 {
	margin-top: 0px;
	margin-left: 120px;
	margin-bottom: 0px;
}
h1 {
    font-family: "Arial";
}
h1 span {
    display: inline-block;
    padding-top: 20px;
    padding-left: 15px;
    padding-right: 5px;
    background-color: #FCDC5C;
    vertical-align: text-bottom;
}
select {
    font-size: 32px;
    font-weight: bold;
    border: 1px solid white;
    background-color: white;
}
select:hover {
    border: 1px solid #FCDC5C;
}
div.other {
	margin-left: 120px;
}
div.other a:link, div.other a:visited {
	color: #555;
	font-size: 8pt;
	text-decoration: none;
}
div.name, .js, .result {
	border: 1px solid black;
	padding: 1em;
}
div.name {
	font-weight: bold;
	background-color: #FCDC5C;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}
div.result {
	white-space: pre;
	border-bottom: none;
}
div.file, div.js {
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}
div.file {
	border-bottom: 1px solid black;
	margin-bottom: 1em;
}
div.js {
	border-bottom: none;
}
div.js div {
	white-space: pre;
	font-family: monospace;
	color: #555;
}
div.js div.line {
	margin-right: 1em;
	text-align: right;
	float: left;
	width: 3em;
	padding-right: 1px;
	border-right: 1px solid #DDD;
}
div.js div.warn {
	background-color: #FFDDAA;
}
div.bad {
	color: #cc0000;
}
div.good {
	color: #00AA00;
}
div.validate {
	margin: 1em;
	float: right;
}
